<div class="container">
    <br/>
    <legend style="color:darkmagenta; border-bottom-color:darkmagenta">
        <center>
            <h2>
                <b>-:Marksheet Data List:-</b>
            </h2>
        </center>
    </legend>
    <br/>
    <div class="row">
        <div class="col-sm-2 pull-left">
            <label>PageSize:</label>
            <select ng-model="data_limit" class="form-control">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-sm-3 pull-right">
            <label>Search:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search" style="color:red;"></i>
                </span>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" ng-show="filter_data > 0">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Sr. No.</th>
                    <th>Name&nbsp;
                        <a ng-click="sort_with('name');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>
                    <th>Role No.&nbsp;
                        <a ng-click="sort_with('roleNo');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>
                    <th>Student Id&nbsp;
                        <a ng-click="sort_with('studentId');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>

                    <th>Physics&nbsp;
                        <a ng-click="sort_with('physics');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>

                    <th>Chemistry&nbsp;
                        <a ng-click="sort_with('chemistry');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>

                    <th>Maths&nbsp;
                        <a ng-click="sort_with('maths');">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </a>
                    </th>
                    <th>Action&nbsp;</th>

                </thead>
                <tbody>
                    <tr ng-repeat="data in searched = (dataList | filter:search| orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit">
                        <td>{{$index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.rollNo}}</td>
                        <td>{{data.studentId}}</td>
                        <td>{{data.physics}}</td>
                        <td>{{data.chemistry}}</td>
                        <td>{{data.maths}}</td>
                        <td><button type="button" ng-click="updat()" class="btn btn-default"><i class="glyphicon glyphicon-pencil">
                        </i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show="filter_data == 0">
            <div class="col-md-12">
                <h4 style="color:red;">
                    <b>No records found..</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 pull-left">
                <h5>Showing {{ searched.length }} of {{ entire_user}} entries</h5>
            </div>
            <div class="col-md-6" ng-show="filter_data > 0">
                <div pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="filter_data"
                    items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
            </div>
        </div>
    </div>
</div>